.grid-container{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
#column {
    /* flex-direction: column; */
    width: 25px;
    height: 20px;
}
#row {
    /* flex-direction: row; */
    border: 2px solid #333;
    width: 25px;
    height: 20px;
    background-color: none;
}

