body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #c7d7fb;
}
.header-container{
   display: flex;
   flex-direction: column;
}
.title {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #3c284b;
}
.buttons{
    text-align: center;
    word-spacing: 10px;
}
.grid-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.tile{
    background-color: #ffffff;
}
#column {
    width: 35px;
    height: 30px;
}
#row {
    border: 2px solid #3c284b;
    width: 35px;
    height: 30px;
}
#resizeBoard, #clearBoard{
    width: 170px;
    height: 50px;
    border-radius: 20px;
    font-size: 16pt;
    font-weight: bold;
    background-color: #f1b0da;
    color: #3c284b;
}
#resizeBoard:hover, #clearBoard:hover{
    border: solid #3c284b;
}
#resizeBoard:focus, #clearBoard:focus{
    outline: none;
}
