.grid-container{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
#column {
    /* flex-direction: column; */
    width: 30px;
    height: 30px;
}
#row {
    /* flex-direction: row; */
    border: 3px solid #333;
    width: 30px;
    height: 30px;
}

